/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     margin: 0;
     width: 60em;
     padding: 3em;
     color: #444;
     background: #FFF;
     border-left: 6px solid #DDD;
     font-size: 18px;
     line-height: 1.5;
     font-family: 'Lato' sans-serif;
}

#main {
     float: left;
     width: 60.66667%;
}

a {
     color: #D00;
     text-decoration: none;
     -webkit-transition: all 300ms;
}

a:hover {
     color: #A00;
}

h1, h2, h3, h4, h5, h6 {
     margin: 0;
     padding: 0;
}

h1 {
     font-size: 3em;
     font-weight: normal;
}

em {
     line-height: 4;
     color: grey;
}

h1 a {
     font-size: 3em;
     text-decoration: none;
     font-weight: normal;
     color: red;
}

h2 {
     font-size: 2em;
     font-weight: normal;
     color: black;
     margin: 0;
     padding: 0;
}

header h1, header h2 {
     display: inline-block;
}

header h2 {
     margin: .5em;
     font-weight: normal;
     font-size: 2em;
     color: grey;
     text-align: right;
}

h2 a {
     color: inherit;
}


h3 {
     font-size: 2em;
     font-weight: normal;
     color: #CCC;
     margin: 0;
     padding: 0;
}


header nav a {
     text-decoration: none;
     margin: .5em;
     padding: .6em;
     border: .5em;
     font-size: 1.8em;
     background-color: black;
     color: white;
}

p.more {
     font-weight: bold;
     text-align: right;
}

img {
     display: block;
     margin: 10px 0;
     max-width: 100%;
}

header h1 {
     display: inline;
     margin-right: .5em;
}
header h2 {
     display: inline;
     font-size: 1.5em;
     margin-bottom: .5em;
     color: #888;
}

article p:first-of-type:first-letter {
     float: left;
     font-size: 6em;
     line-height: 1;
     color: #DDD;
     margin: -.1em .1em 0 -.1em;
}

.module {
     border-bottom: 1px solid #DDD;
     padding: 1.5em 0;
}
.module:last-of-type {
     border: none;
}

.ad img {
     margin: auto;
}

footer {
     clear: both;
     color: #BBB;
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




